.logindiv{
    min-height: 70vh;
    
}

/* .logindiv2{
    display: flex;
    align-items: center;
    justify-content: center;
} */

#fab1{
    border: 2px solid #3498db ;
    background-color: white;
    font-weight: 800;
    color: #3498db;
    margin: 10px;
    width: 130px;
    font-size: 1rem;
}

#fab1:hover{
    background-color: #3498db;
    color: white;
    font-weight: bolder;
}

.logindiv2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logindiv3{
    min-height: 75vh;
}

@media screen and (max-width:766px){
    #fab1{
        width: 200px;
    }
    
}